@use '../variables'
@use '../mixins'
#sidebar
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$card-border-radius
    display: flex
    align-items: center 
    flex-direction: column
    text-align: center
    position: relative
    padding:3rem 0

    img
        max-width: 70%
        border-radius: variables.$container-border-radius
        position: absolute
        top: -4rem

    .title
        color: variables.$text-color
        background-color: variables.$br-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 12rem
        padding: .9rem 1.6rem
    
    .btn
        @include mixins.btn
        

#AboutMe
        padding: 2rem
        

#videojptec
        padding-top: 1rem
        padding-bottom: 1rem
        